@use '../abstracts' as *;

.rating {
	width: 100%;
	margin-bottom: rem(48);

	&__box {
		display: flex;
		flex-direction: column;
		padding: rem(16);
		background-color: hsl(var(--clr-light-gray-magenta));
		border-radius: rem(8);

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__stars {
		display: flex;
		justify-content: center;
		margin-bottom: rem(16);
	}

	&__description {
		font-size: var(--fs-400);
		text-align: center;
		color: hsl(var(--clr-very-dark-magenta));
	}
}
