@use '../abstracts' as *;

.grid {
	display: grid;
	place-content: center;
}

.container {
	width: rem(316);
	display: grid;
	grid-template-areas:
		'header'
		'middle'
		'bottom';
	overflow: hidden;
	border-radius: rem(8);

	@include mq(medium) {
		width: rem(620);
		grid-template-areas:
			'header header'
			'middle bottom';
		grid-template-columns: repeat(2, 1fr);
	}
}
